<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>fun with boxes</title>
</head>
<body>
    <h1 class="center">Fun With Boxes!</h1>
    <div class="container center valign-wrapper">
        <div class="row">
            {% for i in range(0, num): %}
                <div class="box col" style="background-color: {{color}};"></div>
            {% endfor%}
        </div>
    </div>
</body>
</html>